* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
}
header{
    background-image: url(../img/dr4.jpg);
    height: 400vh;
}