* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Funnel Display", sans-serif;
}

@media (min-width: 480px) {
  .index-header {
    background-image: url(../img/fondo.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header-btn {
    background-color: #8A00FF;
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 10rem;
  }
  .header-btn:hover {
    background-color: #4B00FF;
  }
  .fondo-osucro {
    background-color: rgba(0, 0, 0, 0.5254901961);
  }
  .main-index {
    text-align: left;
    padding: 1.5rem;
  }
  .art {
    width: 100%;
    margin: 0 auto;
    max-width: 28rem;
  }
  .logo-index {
    width: 80%;
    max-width: 20rem;
  }
  .btn-primary {
    background-color: #8A00FF;
  }
  .btn-primary :hover {
    background-color: #4B00FF;
  }
  .footer {
    background-color: #000000;
    padding: 2rem 0;
    /* fondo oscuro gamer */
  }
  .footer-icon {
    font-size: 2rem;
    color: #8A00FF;
    /* violeta neon */
    transition: 0.3s ease;
  }
  .footer-icon:hover {
    color: #4B00FF;
    /* tono violeta-azul */
  }
}
@media (min-width: 480px) {
  .index-header {
    height: 65vh;
  }
  .logo-index {
    max-width: 25rem;
  }
}
@media (min-width: 992px) {
  .header-contenido {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-index {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: left;
    padding: 3rem;
    background-image: url(../img/istockphoto-1352613521-612x612.jpg);
    background-repeat: no-repeat;
    background-position: cover;
  }
  .art {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
  }
  .main-index article img {
    max-width: 600px;
  }
  .main-index article img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  .main-index article p {
    margin: 0;
    line-height: 1.6rem;
    text-align: justify;
  }
  .main-index h2 {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .main-index .colum {
    width: 40%;
  }
  #carouselExampleSlidesOnly {
    max-width: 100%;
    max-height: 600px;
    margin: 0 auto;
  }
  #carouselExampleSlidesOnly img {
    height: 400px;
    object-fit: cover;
  }
  .form-index {
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .form-index h3 {
    margin-bottom: 4rem;
  }
}
/* SEGUNDA PAGINA */
@media (max-width: 576px) {
  .main-index2 {
    display: flex;
    flex-direction: row;
  }
  .main-index2 .card {
    gap: 20px;
    padding: 10px;
    text-align: center;
  }
  .main-index2 .card img {
    width: 100%;
    height: auto;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .section-index2 article {
    margin: 1rem;
  }
  .main-index2 article:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  .main-index2 .card-text {
    text-align: justify;
  }
}
/* TERCERA PAGINA */
.page-link {
  color: #8A00FF;
}

@media (min-width: 480px) {
  .index-section3 .card img {
    height: 200px;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .index-section3 .card img {
    height: 300px;
    object-fit: cover;
  }
  .index-section3 .card {
    min-height: 420px;
  }
  .index-section3 .card {
    background: #ffffff;
    border-radius: 15px;
    transition: 0.3s ease;
  }
  .index-section3 .card:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px rgba(120, 0, 255, 0.5);
  }
}
/* PAGINA CUATRO */
.header-index4 {
  margin: 0;
  padding: 0;
}

.main-index4 {
  text-align: center;
  color: #8A00FF;
}

.grid-conenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.carta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (min-width: 480px) {
  .grid-conenedor {
    margin: 4rem;
    grid-template-columns: repeat(2fr, 1fr);
    gap: 1.5rem;
    padding: 2rem;
  }
  .card img {
    height: 200px;
  }
}
@media (min-width: 992px) {
  .grid-conenedor {
    grid-template-columns: repeat(4, 1fr);
  }
  .destacada {
    grid-column: span 2;
  }
}

/*# sourceMappingURL=styles.css.map */
