@use "./utilities/variables";
@import "./utilities/mixins.scss";
@import "./utilities/extends";
@import "./mq/mq1";
@import "./mq/mq2";
@import "./mq/mq3";
@import "./mq/mq4";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
}

// PRIMERA-PAGINA

.header-contenido {
    @extend %flex-center;
    flex-direction: column;
}

.form-index {
    @extend %flex-center;
    flex-direction: column;
}

.footer {
    @extend %footer-base;
    padding: 2rem 0;
}

.footer-icon {
    @extend %icon-base;
    color: variables.$violeta-pleno;
}

/* TERCERA PAGINA */

.page-link {
    color: variables.$violeta-pleno;
}

/* CUARTA PAGINA */

.header-index4 {
    margin: 0;
    padding: 0;
}

.main-index4 {
    text-align: center;
    color: variables.$violeta-pleno;

}

.grid-conenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    @include separacion(1.5rem, 2rem);
}

.carta img {
    @include espacio (100%, 200px);
    object-fit: cover;
}
