$negro-fondo: #00000086;
$gris-fondo: #383838;
$negro-full: #000000;
$blanco-full: #ffffff;
$rojo-pleno: #ff1010;
$violeta-pleno: #8A00FF;
$morado-pleno: #4B00FF;
$shadow-black: rgba(0, 0, 0, 0.3);
$shadow-violeta: rgba(120, 0, 255, 0.5);