// PRIMERA-PAGINA
@media (min-width: 430px) {

    .index-header {
        background-image: url(../img/fondo.jpg);
        height: 65vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .header-btn {
        background-color: variables.$violeta-pleno;
        border: none;
        padding: 0.3rem 2rem;
        border-radius: 0.5rem;
        @include espacio (10rem, 3.5rem);
    }

    .header-btn:hover {
        background-color: variables.$morado-pleno;
    }

    .fondo-osucro {
        background-color: variables.$negro-fondo;
    }

    .main-index {
        text-align: left;
        padding: 1.5rem;

    }

    .art {
        width: 100%;
        margin: 0 auto;
        max-width: 28rem;
    }

    .logo-index {
        width: 80%;
        max-width: 20rem;
    }

    .btn-primary {
        background-color: variables.$violeta-pleno;
    }

    .btn-primary:hover {
        background-color: variables.$morado-pleno;
    }

    .footer {
        background-color: variables.$negro-full;
        padding: 2rem 0;
    }

    .footer-icon {
        font-size: 2rem;
        color: variables.$violeta-pleno;
        transition: 0.3s ease;
    }

    .footer-icon:hover {
        color: variables.$morado-pleno;
    }
}

@media (min-width: 480px) {
    .index-header {
        height: 65vh;
    }

    .logo-index {
        max-width: 25rem;
    }
}

@media (min-width: 992px) {

    .header-contenido {
        height: 100%;
        text-align: center;
    }

    .main-index {
        display: flex;
        justify-content: center;
        @include separacion(40px, 3rem);
        text-align: left;
        background-image: url(../img/istockphoto-1352613521-612x612.jpg);
        background-repeat: no-repeat;
        background-position: cover;
    }

    .art {
        @include espacio (100%, 250px);
        object-fit: cover;
        border-radius: 1rem;
    }

    .main-index article img {
        max-width: 600px;
    }

    .main-index article img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px variables.$shadow-black;
    }

    .main-index article p {
        margin: 0;
        line-height: 1.6rem;
        text-align: justify;
    }

    .main-index h2 {
        margin-top: 10rem;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .main-index .colum {
        width: 40%;
    }

    #carouselExampleSlidesOnly {
        max-width: 100%;
        max-height: 600px;
        margin: 0 auto;
    }

    #carouselExampleSlidesOnly img {
        height: 400px;
        object-fit: cover;
    }

    .form-index {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-index h3 {
        margin-bottom: 4rem;
    }
}