/* CUARTA PAGINA */
@media (min-width: 430px) {
    .grid-conenedor {
        margin: 4rem;
        grid-template-columns: repeat(2, 1fr);
        @include separacion(1.5rem, 2rem);
    }

    .card img {
        height: 200px;
    }
}

@media (min-width: 992px) {
    .grid-conenedor {
        grid-template-columns: repeat(4, 1fr);
    }

    .destacada {
        grid-column: span 2;
    }
}